addict
future
lmdb
numpy
opencv-python
Pillow
pyyaml
requests
cuda-python
scikit-image
scipy
tb-nightly
torchvision
tqdm
yapf
lpips
gdown
flask
opencv-python
gradio
gradio_client
torch
torchvision
PIL
firebase_admin